* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;

}


html {
    font-size: 62.5%;
}

body {
    height: 80vh;
    background-color: #17A481;
    font-size: 1.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    background-color: #fff;
    color: #212529;
    
    text-align: center;

    margin-top: 1rem;
    border-radius: 1rem;
}

.simbolo {
    background-color: #014e4e;
    color: #fff;
}

.exemplo {
    background-color: #252525;
    color: #fff;


}

.container {
    background-color: #252525;
    border-radius: 2rem;
    color: #fff;
    text-align: center;

    padding: 1rem;

}

#resultado {
    width: 100%;
    background-color: #3d3535;
    font-weight: bolder;
    color: #fff;
    text-align: right;
    font-size: 3rem;
  
    outline: none;
    border: none;
    border-radius: 1rem 1rem 0 0;

    padding: 2rem;

}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 0.1rem;

}

.item {
    font-size: 2rem;
    font-weight: bolder;

    padding: 1rem;
    border: 0.1rem solid #252525;
    
    cursor: pointer;

}

.item:hover {
    border: 0.1rem solid #212529;
    background-color: #3d3535;
    color: #fff;
}


.tecla1 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.tecla2 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}


.tecla4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.tecla5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.tecla7 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.tecla8 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}




.teclaIgual {
    grid-column: 4 / 5;
    grid-row: 2 / 6;

    background-color: #E24E4E;
    
    color: #fff
}

.teclaIgual:hover {
    background-color: #F1606D;
}





/* RODAPÉ */

footer {

    background-color: #014e4e;
    width: 100%;
    text-align: center;

    box-shadow: 0.2rem -0.1rem 0.5rem #fff;
    
    position: fixed;
    bottom: 0;

}

footer p {
    padding: 1rem;
    color: #fff;

}


/* CONTATO */

section.contato {

    display: flex;
    justify-content: center;
    padding: 1rem 0 0 0;

}

i {
    font-size: 2.5rem;
    font-weight: 100;
}


.repositorio a {
    display: flex;

    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    padding: 1rem;

    transition: all .2s;
}

.linkedin a {
    display: flex;

    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    padding: 1rem;

    transition: all .2s;
}

.repositorio a:hover {
    background-color: #212529;
    color: #fff;

}

.linkedin a:hover {
    background-color: #fff;
    color: #0077B5;

}

/* FIM RODAPÉ */


@media only screen and (max-width: 600px) {


html {
    font-size: 50%;
}


}

@media only screen and (max-width: 400px) {


    html {
        font-size: 40%;
    }
    
    
    }